.services {
    background-color: #f3f4f6;
    padding: 61px 24px 61px 24px;
    &__services-info {
        font-weight: var(--fw-regular);
    }
    h2 {
        text-align: center;
        padding-bottom: 0.75rem;
        color: #2d314d;
        padding: 0.75rem;
        font-weight: var(--fw-regular);
        font-size: clamp(1.72rem, 5vw, 2.138rem);
    }
    p {
        font-size: 0.85rem;
        text-align: center;
    }
}

//Services Cards
.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 18px;
    h3 {
        font-size: 1rem;
        text-align: center;
        color: #2d314d;
        font-weight: var(--fw-regular);
        font-size: 1.1rem;
    }
    &__cards-paragraph {
        text-align: center;
        padding: 0.75rem;
    }
}

// =============== MEDIA QUERIES ===============
//For medium devices */
@media screen and (min-width: 768px) {
    .services-info {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin: auto;
    }
    .cards {
        max-width: 500px;
        margin: auto;
        display: flex;
        flex-direction: column;
        p {
            text-align: center;
            font-size: clamp(0.805rem, 2vw, 1rem);
        }
    }
}

//For medium devices */
@media screen and (min-width: 1024px) {
    .services {
        padding: 0;
    }
    .services-info {
        padding-top: 20px;
    }
    .servicesall {
        display: flex;
        flex-wrap: wrap;
    }
}

///For large */
@media screen and (min-width: 1200px) {
    .services-info {
        margin: inherit;
        padding-left: 30px;
        margin-left: 50px;
        h2{
            text-align: start;
        }
        p{
            text-align: start;
            padding-left: 20px;
        }
    }

    .servicesall {
        display: flex;
        flex-direction:row;
        margin-left: 60px;
    }

    .cards {
        max-width: 230px;
        margin: auto;
        display: flex;
        flex-direction: column;
        text-align:start;
        align-items:flex-start;
       
        p{
            text-align:start;
            line-height: 1.7;
            font-size: clamp(0.805rem, 2vw, 0.861rem);
        }
       
    }


}